body {
    /* custom gradient */
    background-color: rgb(82, 61, 134);
    background: rgb(0,141,173);
    background: linear-gradient(90deg, rgba(0,141,173,1) 0%, rgba(102,27,127,1) 35%, rgba(112,171,220,1) 96%, rgba(1,86,134,1) 100%);
}

.background {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: url(../img/kalnas.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #0659B3; */
    /* background-size: contain; */
    filter: blur(40px);

    /* 100 proc ekrano darbinės terirotijos matomosios dalies */
}

    main {
        display: inline-block;
        width: 800px;
        /* margin-top: -600px; */
        /* margin-left: calc(50% - 400px); */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .left-column {
            display: inline-block;
            float: left;
            width: 40%;
            padding: 40px;
            background-image: url(../img/kalnas.jpg);
            background-size: cover; 
            background-position: center;
            /* background-repeat: no-repeat; */
            /* background-color: #0659B3; */
            /* background-size: contain; */
            position: absolute;
            top: 30px;
            bottom: 30px;
        }

            h1 {
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 40px;
                margin: 0;
                padding: 0;
                font-weight: 100;
            }

            footer {
                position: absolute;
                bottom: 20px;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
            }
            /* abosulte galima naudoti, kai artimaiusias ne static elementas(tinka abosulte arba relative) */

                footer > a {
                    text-decoration: none;
                    color: white;   
                }

                footer > span {
                    color: white;
                }

        .right-column {
            display: inline-block;
            float: right;
            width: 60%;
            padding: 60px;
            background-color: #fff;
            position: relative;
        }

            .close {
                display: inline-block;
                width: 60px;
                height: 60px;
                text-align: center;
                font-size: 30px;
                color: rgb(204, 204, 204);
                line-height: 54px;
                position: absolute;
                top: 0;
                right: 0;
                /* šitie 0 priklauso nuo width ir heigth šito elemento */
                transform: rotate(45deg);
                font-weight: 100;
                cursor: pointer;
                font-weight: 100;
                font-family: 'Times New Roman', Times, serif;
            }